<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper">
	
	<!-- 입력된 정보로 기업회원가입 등록 -->
	<insert id="coMemberRegist">
		INSERT /* com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper#coMemberRegist() */
		  INTO TBL_MEMBER A
		  (
		 	A.MEM_NO
		  , A.MEM_ID
		  , A.MEM_EMAIL
		  , A.MEM_PWD
		  , A.MEM_NAME
		  , A.MEM_PHONE
		  , A.MEM_KINDS
		  , A.MEM_ENROLL_DATE
		  , A.MEM_ENT_YN
		  , A.MEM_ENT_DATE
		  , A.MEM_ENT_NO	      
		  )
		  VALUES
		  (
		    SEQ_MEM_NO.NEXTVAL
		  , #{ memId }
		  , #{ memEmail }
		  , #{ memPwd }
		  , #{ memName }
		  , #{ memPhone }
		  , '기업회원'
		  , SYSDATE
		  , 'N'
		  , NULL
		  , NULL
		  )
	</insert>
	
	<!-- 입력된 정보로 회원번호 조회  -->
	<select id="SelectCoMemberNo" resultType="_int">
	   SELECT /* com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper#SelectCoMemberNo() */
	          MEM_NO
	     FROM TBL_MEMBER
	    WHERE MEM_ID = #{ memId }
	</select>
	
	<!-- 회원번호로 기업회원 추가정보 등록 -->
	<insert id="coMemberAddInfoRegist">
		INSERT /* com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper#coMemberAddInfoRegist() */
		  INTO TBL_CO_MEMBER_ADD_INFO A
		(
		  A.CO_MEM_NO
		, A.CO_INTRO
		, A.CO_NO
		, A.CO_COM_NAME
		, A.CO_CEO_NAME
		, A.CO_ADDRESS
		, A.CO_PHONE
		, A.CO_PAX
		, A.CO_SECTORS
		, A.CO_STATUS
		, A.CO_WEBSITE
		)
		VALUES
		(
          #{ memNo }
		, #{ coIntro }
		, #{ coNo }
		, #{ coComName }
		, #{ coCeoName }
		, #{ coAddress }
		, #{ coPhone }
		, #{ coPax }
		, #{ coSectors }
		, #{ coStatus }
		, #{ coWebsite }
		)
	</insert>
	
	<select id="duplicateIdCheck" resultType="_int">
		SELECT /* com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper#duplicateIdCheck() */
	           COUNT(*)
		  FROM TBL_MEMBER
		 WHERE MEM_ID = #{ memId }
	</select>
	
	<!-- 기업회원가입 승인여부이력 생성 -->
	<insert id="insertRequestAppHistory">
		INSERT /* com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper#insertRequestAppHistory() */
	      INTO TBL_CO_MEMBER_APP_HISTORY
	    (
	      CO_REQ_NO
	    , CO_MEM_NO
	    , CO_ANS_KINDS
	    , CO_REQ_DATE
	    , CO_ANS_DATE
	    , CO_REQ_KINDS
	    , CO_REJECT_REASON
	    )
	    VALUES
	    (
	      SEQ_CO_REQ_NO.NEXTVAL
	    , #{ memNo }
	    , '대기'
	    , SYSDATE
	    , NULL
	    , '회원가입'
	    , NULL
	    )
	</insert>
	
	<!-- 로고이미지 저장 -->
	<insert id="insertCoLogoAttachment">
		INSERT /* com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper#insertCoLogoAttachment() */
		  INTO TBL_ATTACHMENT
		(
		  MEM_FILE_NO
		, MEM_NO
		, MEM_FILE_NAME
		, MEM_FILE_ORIGINAL_NAME
		, MEM_FILE_PATH
		, MEM_FILE_KINDS
		)
		VALUES
		(
		  SEQ_MEM_FILE_NO.NEXTVAL
		, #{ memNo }
		, #{ memFileName }
		, #{ memFileOriginalName }
		, #{ filePath }
		, '프로필사진'		
		)	
	</insert>
	
	<!-- 대표이미지 저장 -->
	<insert id="insertCoRepresentativImageAttachment">
		INSERT /* com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper#insertCoLogoAttachment() */
		  INTO TBL_ATTACHMENT
		(
		  MEM_FILE_NO
		, MEM_NO
		, MEM_FILE_NAME
		, MEM_FILE_ORIGINAL_NAME
		, MEM_FILE_PATH
		, MEM_FILE_KINDS
		)
		VALUES
		(
		  SEQ_MEM_FILE_NO.NEXTVAL
		, #{ memNo }
		, #{ memFileName }
		, #{ memFileOriginalName }
		, #{ filePath }
		, '대표이미지'		
		)	
	</insert>
	
	<!-- 사업자등록증 저장  -->
	<insert id="insertBusinessRegistrationAttachment">
		INSERT /* com.itsme.letitgo.company.regist.model.mapper.RegistCoMemberMapper#insertBusinessRegistrationAttachment() */
		  INTO TBL_ATTACHMENT
		(
		  MEM_FILE_NO
		, MEM_NO
		, MEM_FILE_NAME
		, MEM_FILE_ORIGINAL_NAME
		, MEM_FILE_PATH
		, MEM_FILE_KINDS
		)
		VALUES
		(
		  SEQ_MEM_FILE_NO.NEXTVAL
		, #{ memNo }
		, #{ memFileName }
		, #{ memFileOriginalName }
		, #{ filePath }
		, '사업자등록증'		
		)	
	</insert>
	
	
	



</mapper>