<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itsme.letitgo.admin.info.model.mapper.InsertRequestMapper">
	<resultMap type="com.itsme.letitgo.admin.info.model.dto.InsertRequestDTO" id="requestInsert">
		<id property="coReqNo" column="CO_REQ_NO"/>
		<result property="coComName" column="CO_COM_NAME"/>
		<result property="coMemNo" column="CO_MEM_NO"/>
		<result property="coAnsKinds" column="CO_ANS_KINDS"/>
		<result property="coReqDate" column="CO_REQ_DATE"/>
		<result property="coAnsDate" column="CO_ANS_DATE"/>
		<result property="coReqKinds" column="CO_REQ_KINDS"/>
		<result property="coRejectReason" column="CO_REJECT_REASON"/>
	</resultMap>
	
<!-- 	기업정보변경요청 담기는 테이블  -->
 	<resultMap type="com.itsme.letitgo.admin.info.model.dto.CoMemberAppHistoryDTO" id="coAppHistory">
 		<id property="coReqNo" column="CO_REQ_NO"/>
 		<result property="coMemNo" column="CO_MEM_NO"/>
 		<result property="coAnsKinds" column="CO_ANS_KINDS"/>
 		<result property="coReqDate" column="CO_REQ_DATE"/>
 		<result property="coAnsDate" column="CO_ANS_DATE"/>
 		<result property="coReqKinds" column="CO_REQ_KINDS"/>
 		<result property="coRejectReason" column="CO_REJECT_REASON"/>
 		<result property="coIntro" column="CO_INTRO"/>
 		<result property="coNo" column="CO_NO"/>
 		<result property="coComName" column="CO_COM-NAME"/>
 		<result property="coCeoName" column="CO_CEO_NAME"/>
 		<result property="coAddress" column="CO_ADDRESS"/>
 		<result property="coPhone" column="CO_PHONE"/>
 		<result property="coPax" column="CO_PAX"/>
 		<result property="coSectors" column="CO_SECTORS"/>
 		<result property="coStatus" column="CO_STATUS"/>
 		<result property="webSite" column="CO_WEBSITE"/>
 		<result property="memFileName" column="MEM_FILE_NAME"/>
 		<result property="memFileOrignalName" column="MEM_FILE_ORIGINAL_NAME"/>
 		<result property="memFilePath" column="MEM_FILE_PATH"/>
 		<result property="memFileKinds" column="MEM_FILE_KINDS"/>
 	
 	</resultMap>
	
	
	<select id="insertRequestList" resultMap="requestInsert">
		SELECT
			   A.CO_REQ_NO
			 , B.CO_COM_NAME
			 , A.CO_MEM_NO
			 , A.CO_ANS_KINDS
			 , A.CO_REQ_DATE
			 , A.CO_ANS_DATE
			 , A.CO_REQ_KINDS
			 , A.CO_REJECT_REASON
	      FROM TBL_CO_MEMBER_APP_HISTORY A
          JOIN TBL_CO_MEMBER_ADD_INFO B ON(A.CO_MEM_NO = B.CO_MEM_NO)
	     WHERE A.CO_REQ_KINDS = '회원가입'
	</select>
	
	
	<insert id="updateRequestAddInfo">
		INSERT
			 INTO TBL_CO_MEMBER_APP_HISTORY
			 (
			   CO_REQ_NO
			 , CO_MEM_NO
			 , CO_ANS_KINDS
			 , CO_REQ_DATE
			 , CO_REQ_KINDS
			 , CO_INTRO
			 , CO_NO
			 , CO_COM_NAME
			 , CO_CEO_NAME
			 , CO_ADDRESS
		 	 , CO_PHONE
			 , CO_PAX
			 , CO_SECTORS
			 ,CO_STATUS
			 ,CO_WEBSITE
			 )
			 VALUES
			 (
			   SEQ_CO_REQ_NO.NEXTVAL
			 , #{ coMemNo }
			 , '대기'
			 , SYSDATE
			 , '회원정보수정'
			 , #{ coIntro }
			 , #{ coNo }
			 , #{ coComName }
			 , #{ coCeoName }
			 , #{ coAddress }
			 , #{ coPhone }
			 , #{ coPax }
			 , #{ coSectors }
			 , #{ coStatus }
			 , #{ webSite }
			 )
	
	</insert>
	
	
		<insert id="insertCoLogoAttachment" >
<!-- 	로고이미지 -->
	INSERT 
		  INTO TBL_CO_MEMBER_APP_HISTORY
		(
<!-- 		  MEM_FILE_NO -->
		  CO_REQ_NO
		, CO_MEM_NO
		, CO_ANS_KINDS
		, MEM_FILE_NAME
		, MEM_FILE_ORIGINAL_NAME
		, MEM_FILE_PATH
		, MEM_FILE_KINDS
		, CO_REQ_DATE
		, CO_REQ_KINDS
		)
		VALUES
		(
		  SEQ_CO_REQ_NO.NEXTVAL
		, #{ coMemNo }
		, '대기'
		, #{ memFileName }
		, #{ memFileOrignalName }
		, #{ memFilePath }
		, '로고이미지'
		, SYSDATE
		, '회원정보수정'		
		)	
	</insert>
	<insert id="insertCoRepresentativImageAttachment" >
	INSERT
		  INTO TBL_CO_MEMBER_APP_HISTORY
		(
		  CO_REQ_NO
		, CO_MEM_NO
		, CO_ANS_KINDS
		, MEM_FILE_NAME
		, MEM_FILE_ORIGINAL_NAME
		, MEM_FILE_PATH
		, MEM_FILE_KINDS
		, CO_REQ_DATE
		, CO_REQ_KINDS
		)
		VALUES
		(
		  SEQ_CO_REQ_NO.NEXTVAL
		, #{ coMemNo }
		, '대기'
		, #{ memFileName }
		, #{ memFileOrignalName }
		, #{ memFilePath }
		, '대표이미지'
		, SYSDATE
		, '회원정보수정'		
		)
	</insert>
	<insert id="insertBusinessRegistrationAttachment">
	INSERT
		  INTO TBL_CO_MEMBER_APP_HISTORY
		(
		  CO_REQ_NO
		, CO_MEM_NO
		, CO_ANS_KINDS
		, MEM_FILE_NAME
		, MEM_FILE_ORIGINAL_NAME
		, MEM_FILE_PATH
		, MEM_FILE_KINDS
		, CO_REQ_DATE
		, CO_REQ_KINDS
		)
		VALUES
		(
		  SEQ_CO_REQ_NO.NEXTVAL
		, #{ coMemNo }
		, '대기'
		, #{ memFileName }
		, #{ memFileOrignalName }
		, #{ memFilePath }
		, '사업자등록증'
		, SYSDATE
		, '회원정보수정'		
		)	
	</insert>
	
</mapper>