<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itsme.letitgo.admin.info.model.mapper.InsertRequestMapper">
	<resultMap type="com.itsme.letitgo.admin.info.model.dto.InsertRequestDTO" id="requestInsert">
		<id property="coReqNo" column="CO_REQ_NO"/>
		<result property="coMemNo" column="CO_MEM_NO"/>
		<result property="coAnsKinds" column="CO_ANS_KINDS"/>
		<result property="coReqDate" column="CO_REQ_DATE"/>
		<result property="coAnsDate" column="CO_ANS_DATE"/>
		<result property="coReqKinds" column="CO_REQ_KINDS"/>
		<result property="coRejectReason" column="CO_REJECT_REASON"/>
	</resultMap>
	<select id="selectedInsertRequest" resultMap="requestInsert">
		SELECT
			  *
	    FROM TBL_CO_MEMBER_APP_HISTORY
	</select>
	<select id="detailInfo" resultMap="requestInsert">
		SELECT
			  *
	    FROM TBL_CO_MEMBER_APP_HISTORY
	    WHERE CO_MEM_NO = #{ coMemNo }
	</select>
	
</mapper>