<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.company.payment.model.mapper.PaymentMapper">

	<resultMap type="com.itsme.letitgo.company.payment.model.dto.ProductDTO" id="productResulMap">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="readingNum" column="READING_NUM"/>
		<result property="upperExposureHour" column="UPPER_EXPOSURE_HOUR"/>
		<result property="productKinds" column="PRODUCT_KINDS"/>
		<result property="productExposureStatus" column="PRODUCT_EXPOSURE_STATUS"/>	
		<result property="productName" column="PRODUCT_NAME"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.PaymentHistoryDTO" id="PaymentHistoryReusltMap">
		<id property="payNo" column="PAY_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="payPrice" column="PAY_PRICE"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="payKinds" column="PAY_KINDS"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.BrowseUsingHistoryDTO" id="BrowseUsingHistroyResultMap">
		<result property="resumeTitle" column="RESUME_TITLE"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="productUseDate" column="PRODUCT_USE_DATE"/>		
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.HoldingRequestingSkillsDTO" id="HoldingRequestingSkillsResultMap">
		<result property="skillsName" column="SKILLS_NAME"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.ExposureUsingHistoryDTO" id="ExposureUsingHistoryResultMapy">
		<result property="jobPostTitle" column="JOB_POST_TITLE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobPostDeadline" column="JOB_POST_DEADLINE"/>
		<result property="exposureUseDate" column="EXPOSURE_USE_DATE"/>
		<result property="exposureEndDate" column="EXPOSURE_END_DATE"/>		
	</resultMap>

	<select id="selectProductList" resultMap="productResulMap">
	   SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectProductList() */
	          PRODUCT_NO
	        , PRODUCT_PRICE
	        , READING_NUM
	        , UPPER_EXPOSURE_HOUR
	        , PRODUCT_KINDS
	        , PRODUCT_EXPOSURE_STATUS
	        , PRODUCT_NAME
	     FROM TBL_PRODUCT_LIST
	    ORDER BY PRODUCT_NO
	</select>
	
	<select id="selectPaymentHistory" resultMap="PaymentHistoryReusltMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectProductList() */
               A.PAY_NO
     		 , B.PRODUCT_NAME
             , A.PAY_PRICE
             , A.PAY_DATE
             , A.PAY_KINDS
          FROM TBL_PAYMENT_HISTORY A
          LEFT JOIN TBL_PRODUCT_LIST B ON (A.PRODUCT_NO = B.PRODUCT_NO)
         WHERE A.CO_MEM_NO = '2'
	</select>

	<select id="selectResumeBrowsingNum" resultType="_int">
	   SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#SelectResumeBrowsingNum() */
              A.READING_LEFT_NUM
         FROM TBL_MEMBER_HOLDING_PRODUCT A
         JOIN TBL_PRODUCT_LIST B ON (A.PRODUCT_NO = B.PRODUCT_NO)
        WHERE PRODUCT_STATUS = '사용가능'
          AND PRODUCT_KINDS = '열람권'
          AND A.CO_MEM_NO = '2'
	</select>
	
	<select id="selectExposureUsingPostNum" resultType="_int">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#SelectExposureUsingPostNum() */
	           COUNT(*)
          FROM TBL_JOB_POSTING
         WHERE EXPOSURE_USE_CHECK = 'Y'
           AND CO_MEM_NO = '2'
	</select>
	
	<select id="selectExposureRestTime" resultType="_long">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#SelectExposureRestTime() */
       		   A.EXPOSURE_HOUR
          FROM TBL_MEMBER_HOLDING_PRODUCT A
          JOIN TBL_PRODUCT_LIST B ON (A.PRODUCT_NO = B.PRODUCT_NO)
         WHERE A.PRODUCT_STATUS = '사용가능'
           AND B.PRODUCT_KINDS = '노출권'
           AND A.CO_MEM_NO = '2'
	</select>
	
	<select id="selectBrowseUsingHistroyList" resultMap="BrowseUsingHistroyResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#BrowseUsingHistroyList() */
		       A.PRODUCT_USE_DATE
             , B.RESUME_TITLE
             , C.JOB_NAME
             , D.MEM_NAME
          FROM TBL_READING_USAGE_HISTORY A
          LEFT JOIN TBL_RESUME B ON (A.RESUME_NO = B.RESUME_NO)
          LEFT JOIN TBL_JOB_FIELD C ON (B.JOB_NO = C.JOB_NO)
          LEFT JOIN TBL_MEMBER D ON (B.IN_MEM_NO = D.MEM_NO)
	</select>
	
	<select id="selectHoldingSkillsList" resultMap="HoldingRequestingSkillsResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectHoldingSkillsList() */
               C.SKILLS_NAME
          FROM TBL_RESUME A
          JOIN TBL_RESUME_HOLDING_SKILLS B ON(A.RESUME_NO = B.RESUME_NO)
          JOIN TBL_SKILLS C ON(B.SKILLS_NO = C.SKILLS_NO)
         WHERE A.RESUME_NO = '1'
	</select>
	
	<select id="selectExposureUsingHistoryList" resultMap="ExposureUsingHistoryResultMapy">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectExposureUsingHistoryList() */
               B.JOB_POST_TITLE
             , C.JOB_NAME
             , B.JOB_POST_DEADLINE
             , A.EXPOSURE_USE_DATE
             , A.EXPOSURE_END_DATE
          FROM TBL_EXPOSURE_USAGE_HISTORY A
          JOIN TBL_JOB_POSTING B ON (A.JOB_POST_NO = B.JOB_POST_NO)
          JOIN TBL_JOB_FIELD C ON (B.JOB_NO = C.JOB_NO)
         WHERE A.CO_MEM_NO = '2'
	</select>
	
	<select id="selectRequestingSkillsList" resultMap="HoldingRequestingSkillsResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectRequestingSkillsList() */
               C.SKILLS_NAME
          FROM TBL_JOB_POSTING A
          JOIN TBL_JOB_POSTING_REQ_SKILLS B ON (A.JOB_POST_NO = B.JOB_POST_NO)
          JOIN TBL_SKILLS C ON (B.SKILLS_NO = C.SKILLS_NO)
	</select>
	
	<select id="selectRefundRequestProduct" resultMap="PaymentHistoryReusltMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectRefundRequestProduct() */
               A.PAY_NO
     		 , B.PRODUCT_NAME
             , A.PAY_PRICE
             , A.PAY_DATE
             , A.PAY_KINDS
          FROM TBL_PAYMENT_HISTORY A
          LEFT JOIN TBL_PRODUCT_LIST B ON (A.PRODUCT_NO = B.PRODUCT_NO)
         WHERE A.CO_MEM_NO = '2'
           AND A.PAY_NO = #{ payNo }
	</select>
	
	<insert id="insertRefundMessage">
	    INSERT
          INTO TBL_PAYMENT_CHANGE_HISTORY
        (
          PAY_CHANGE_NO
        , PAY_CHANGE_STATUS
        , PAY_REQ_DATE
        , PAY_CHANGE_REASON
        , PAY_NO
        , PAY_ANS_DATE
        )
        VALUES
        (
          SEQ_PAY_CHANGE_NO.NEXTVAL
        , '환불요청'
        , SYSDATE
        , #{ payChangeReason }
        , #{ payNo }
        , null
        )
	</insert>
	
</mapper>