<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.company.payment.model.mapper.PaymentMapper">

	<resultMap type="com.itsme.letitgo.company.payment.model.dto.ProductDTO" id="productResultMap">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="readingNum" column="READING_NUM"/>
		<result property="upperExposureTime" column="UPPER_EXPOSURE_TIME"/>
		<result property="productKinds" column="PRODUCT_KINDS"/>
		<result property="productExposureStatus" column="PRODUCT_EXPOSURE_STATUS"/>	
		<result property="productName" column="PRODUCT_NAME"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.RefundRequestProductDTO" id="refundRequestProductResultMap">
		<id property="payNo" column="PAY_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="payPrice" column="PAY_PRICE"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="payKinds" column="PAY_KINDS"/>
		<result property="payChangeStatus" column="PAY_CHANGE_STATUS"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.PaymentHistoryDTO" id="paymentHistoryResultMap">
		<id property="payNo" column="PAY_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="payPrice" column="PAY_PRICE"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="payKinds" column="PAY_KINDS"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.BrowseUsingHistoryDTO" id="browseUsingHistroyResultMap">
		<result property="resumeNo" column="RESUME_NO"/>
		<result property="resumeTitle" column="RESUME_TITLE"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="productUseDate" column="PRODUCT_USE_DATE"/>		
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.HoldingRequestingSkillsDTO" id="holdingRequestingSkillsResultMap">
		<result property="jobPostNo" column="JOB_POST_NO"/>
		<result property="resumeNo" column="RESUME_NO"/>
		<result property="skillsName" column="SKILLS_NAME"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.ExposureUsingHistoryDTO" id="exposureUsingHistoryResultMap">
	    <result property="jobPostNo" column="JOB_POST_NO"/>
		<result property="jobPostTitle" column="JOB_POST_TITLE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobPostDeadline" column="JOB_POST_DEADLINE"/>
		<result property="exposureUseDate" column="EXPOSURE_USE_DATE"/>
		<result property="exposureEndDate" column="EXPOSURE_END_DATE"/>		
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.RefundHistoryDTO" id="refundHistoryResultMap">
		<id property="payNo" column="PAY_NO"/>
		<result property="payChangeNo" column="PAY_CHANGE_NO"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="payPrice" column="PAY_PRICE"/>
		<result property="payChangeReason" column="PAY_CHANGE_REASON"/>
		<result property="payChangeStatus" column="PAY_CHANGE_STATUS"/>
		<result property="payReqDate" column="PAY_REQ_DATE"/>
		<result property="payAnsDate" column="PAY_ANS_DATE"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.ReadingLeftNumDTO" id="readingLeftNumResultMap">
		<result property="readingLeftNum" column="READING_LEFT_NUM"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.payment.model.dto.ExposureLeftTimeDTO" id="exposureLeftTimeResultMap">
		<result property="exposureTime" column="EXPOSURE_TIME"/>
	</resultMap>

	<select id="selectProductList" resultMap="productResultMap">
	   SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectProductList() */
	          PRODUCT_NO
	        , PRODUCT_PRICE
	        , READING_NUM
	        , UPPER_EXPOSURE_TIME
	        , PRODUCT_KINDS
	        , PRODUCT_EXPOSURE_STATUS
	        , PRODUCT_NAME
	     FROM TBL_PRODUCT_LIST
	    ORDER BY PRODUCT_NO
	</select>
	
	<select id="selectPaymentHistory" resultMap="paymentHistoryResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectPaymentHistory() */
               A.PAY_NO
     		 , B.PRODUCT_NAME
             , A.PAY_PRICE
             , A.PAY_DATE
             , A.PAY_KINDS
          FROM TBL_PAYMENT_HISTORY A
          LEFT JOIN TBL_PRODUCT_LIST B ON (A.PRODUCT_NO = B.PRODUCT_NO)
         WHERE A.CO_MEM_NO = #{ memNo }
         ORDER BY A.PAY_NO
	</select>

	<select id="selectResumeBrowsingNum" resultMap="readingLeftNumResultMap">
	   SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#SelectResumeBrowsingNum() */
              A.READING_LEFT_NUM
         FROM TBL_MEMBER_HOLDING_PRODUCT A
         JOIN TBL_PRODUCT_LIST B ON (A.PRODUCT_NO = B.PRODUCT_NO)
        WHERE PRODUCT_STATUS = '사용가능'
          AND PRODUCT_KINDS = '열람권'
          AND A.CO_MEM_NO = #{ memNo }
	</select>
	
	<select id="selectExposureUsingPostNum" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM TBL_EXPOSURE_USAGE_HISTORY
		 WHERE CO_MEM_NO = #{ memNo }
		   AND SYSDATE BETWEEN EXPOSURE_USE_DATE AND EXPOSURE_END_DATE
	</select>
	
	<select id="selectExposureRestTime" resultMap="exposureLeftTimeResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#SelectExposureRestTime() */
       		   A.EXPOSURE_TIME
          FROM TBL_MEMBER_HOLDING_PRODUCT A
          JOIN TBL_PRODUCT_LIST B ON (A.PRODUCT_NO = B.PRODUCT_NO)
         WHERE A.PRODUCT_STATUS = '사용가능'
           AND B.PRODUCT_KINDS = '노출권'
           AND A.CO_MEM_NO = #{ memNo }
	</select>
	
	<select id="selectBrowseUsingHistroyList" resultMap="browseUsingHistroyResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#BrowseUsingHistroyList() */
		       A.PRODUCT_USE_DATE
		     , A.RESUME_NO 
             , B.RESUME_TITLE
             , C.JOB_NAME
             , D.MEM_NAME
          FROM TBL_READING_USAGE_HISTORY A
          LEFT JOIN TBL_RESUME B ON (A.RESUME_NO = B.RESUME_NO)
          LEFT JOIN TBL_JOB_FIELD C ON (B.JOB_NO = C.JOB_NO)
          LEFT JOIN TBL_MEMBER D ON (B.IN_MEM_NO = D.MEM_NO)
         WHERE A.CO_MEM_NO = #{ memNo }
	</select>
	
	<select id="selectHoldingSkillsList" resultMap="holdingRequestingSkillsResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectHoldingSkillsList() */
		       A.RESUME_NO
             , C.SKILLS_NAME
          FROM TBL_RESUME A
          JOIN TBL_RESUME_HOLDING_SKILLS B ON(A.RESUME_NO = B.RESUME_NO)
          JOIN TBL_SKILLS C ON(B.SKILLS_NO = C.SKILLS_NO)              
	</select>
	
	<select id="selectExposureUsingHistoryList" resultMap="exposureUsingHistoryResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectExposureUsingHistoryList() */
		       A.JOB_POST_NO
             , B.JOB_POST_TITLE
             , C.JOB_NAME
             , B.JOB_POST_DEADLINE
             , A.EXPOSURE_USE_DATE
             , A.EXPOSURE_END_DATE
          FROM TBL_EXPOSURE_USAGE_HISTORY A
          JOIN TBL_JOB_POSTING B ON (A.JOB_POST_NO = B.JOB_POST_NO)
          JOIN TBL_JOB_FIELD C ON (B.JOB_NO = C.JOB_NO)
         WHERE A.CO_MEM_NO = #{ memNo }
	</select>
	
	<select id="selectRequestingSkillsList" resultMap="holdingRequestingSkillsResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectRequestingSkillsList() */
		       A.JOB_POST_NO
             , C.SKILLS_NAME
          FROM TBL_JOB_POSTING A
          JOIN TBL_JOB_POSTING_REQ_SKILLS B ON (A.JOB_POST_NO = B.JOB_POST_NO)
          JOIN TBL_SKILLS C ON (B.SKILLS_NO = C.SKILLS_NO)
	</select>
	
	<select id="selectRefundRequestProduct" resultMap="refundRequestProductResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectRefundRequestProduct() */
               A.PAY_NO
     		 , B.PRODUCT_NAME
             , A.PAY_PRICE
             , A.PAY_DATE
          FROM TBL_PAYMENT_HISTORY A
          LEFT JOIN TBL_PRODUCT_LIST B ON (A.PRODUCT_NO = B.PRODUCT_NO)
         WHERE A.CO_MEM_NO = #{ memNo }
           AND A.PAY_NO = #{ payNo }
	</select>
	
	<insert id="insertRefundMessage">
	    INSERT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#insertRefundMessage() */
          INTO TBL_PAYMENT_CHANGE_HISTORY
        (
          PAY_CHANGE_NO
        , PAY_CHANGE_STATUS
        , PAY_REQ_DATE
        , PAY_CHANGE_REASON
        , PAY_NO
        , PAY_ANS_DATE
        )
        VALUES
        (
          SEQ_PAY_CHANGE_NO.NEXTVAL
        , '환불요청'
        , SYSDATE
        , #{ payChangeReason }
        , #{ payNo }
        , null
        )
	</insert>
	
	<select id="selectRefundHistory" resultMap="refundHistoryResultMap">
	   SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectRefundHistory() */
              A.PAY_NO
            , B.PAY_CHANGE_NO
            , C.PRODUCT_NAME
            , A.PAY_PRICE
            , B.PAY_CHANGE_REASON
            , B.PAY_CHANGE_STATUS
            , B.PAY_REQ_DATE
            , B.PAY_ANS_DATE
         FROM TBL_PAYMENT_HISTORY A
         JOIN TBL_PAYMENT_CHANGE_HISTORY B ON (A.PAY_NO = B. PAY_NO)
         JOIN TBL_PRODUCT_LIST C ON (A.PRODUCT_NO = C.PRODUCT_NO)
         JOIN TBL_MEMBER D ON (A.CO_MEM_NO = D.MEM_NO)
        WHERE A.CO_MEM_NO = #{ memNo }
        ORDER BY B.PAY_CHANGE_NO
	</select>
	
	<update id="updateRefundRequest" parameterType="_int">
		 UPDATE /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#updateRefundRequest() */
                TBL_PAYMENT_CHANGE_HISTORY
            SET PAY_CHANGE_STATUS = '환불요청취소'
          WHERE PAY_CHANGE_NO = #{ payChangeNo }
	</update>
	
	<update id="updateRefundRequest2" parameterType="_int">
		 UPDATE /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#updateRefundRequest2() */
                TBL_PAYMENT_HISTORY
            SET PAY_KINDS = '결제완료'
          WHERE PAY_NO = #{ payNo }
	</update>
	
	<select id="selectPayNo" resultType="_int">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#selectPayNo() */
		       A.PAY_NO
		  FROM TBL_PAYMENT_CHANGE_HISTORY A
		 WHERE A.PAY_CHANGE_NO = #{ payChangeNo }
	</select>
	
	<update id="updatePaymentStatus">
		UPDATE /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#updatePaymentStatus() */
		       TBL_PAYMENT_HISTORY
		   SET PAY_KINDS = '환불요청'
		 WHERE PAY_NO = #{ payNo }
	</update>
	
	<select id="SelectProduct" resultMap="productResultMap">
		SELECT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#updatePaymentStatus() */
			   PRODUCT_NO
			 , PRODUCT_PRICE
			 , READING_NUM
			 , UPPER_EXPOSURE_TIME
		  FROM TBL_PRODUCT_LIST
		 WHERE PRODUCT_NAME = #{ productName }			   
	</select>
	
	<insert id="insertPaymentReadingRightHistory" parameterType="HashMap">
		INSERT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#insertPaymentHistory() */
		  INTO TBL_PAYMENT_HISTORY
		(
		  PAY_NO
		, PAY_DATE
		, PRODUCT_NO
		, PAY_PRICE
		, PAY_KINDS
		, CO_MEM_NO
		)
		VALUES
		(
		  SEQ_PAY_NO.NEXTVAL
		, SYSDATE
		, #{ product.productNo }
		, #{ product.productPrice }
		, '결제완료'
		, #{ memNo }
		)	
	</insert>
	
	<insert id="insertHoldingReadingRightProduct" parameterType="HashMap">
		INSERT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#insertHoldingProduct() */
		  INTO TBL_MEMBER_HOLDING_PRODUCT
		(
		  RETAINED_PRODUCT_CODE
        , PRODUCT_NO
		, CO_MEM_NO
	    , PRODUCT_STATUS
	    , READING_LEFT_NUM
	    , EXPOSURE_TIME
		)
		VALUES
		(
		  SEQ_RETAINED_PRODUCT_CODE.NEXTVAL
        , #{ product.productNo }
		, #{ memNo }
		, '사용가능'
		, #{ product.readingNum }
		, null
		)
	</insert>
	
	<insert id="insertPaymentExposureRightHistory" parameterType="HashMap">
		INSERT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#insertPaymentExposureRightHistory() */
		  INTO TBL_PAYMENT_HISTORY
		(
		  PAY_NO
		, PAY_DATE
		, PRODUCT_NO
		, PAY_PRICE
		, PAY_KINDS
		, CO_MEM_NO
		)
		VALUES
		(
		  SEQ_PAY_NO.NEXTVAL
		, SYSDATE
		, #{ product.productNo }
		, #{ product.productPrice }
		, '결제완료'
		, #{ memNo }
		)	
	</insert>
	
	<insert id="insertHoldingExposureRightProduct" parameterType="HashMap">
		INSERT /* com.itsme.letitgo.company.payment.model.mapper.PaymentMapper#insertHoldingExposureRightProduct() */
		  INTO TBL_MEMBER_HOLDING_PRODUCT
		(
		  RETAINED_PRODUCT_CODE
        , PRODUCT_NO
		, CO_MEM_NO
	    , PRODUCT_STATUS
	    , READING_LEFT_NUM
	    , EXPOSURE_TIME
		)
		VALUES
		(
		  SEQ_RETAINED_PRODUCT_CODE.NEXTVAL
        , #{ product.productNo }
		, #{ memNo }
		, '사용가능'
		, null
		, #{ product.upperExposureTime }
		)
	</insert>
	
</mapper>