<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.company.payment.model.mapper.ProductMapper">

	<resultMap type="com.itsme.letitgo.company.payment.model.dto.ProductDTO" id="productResulMap">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="productPrice" column="PRODUCT_PRICE"/>
		<result property="readingNum" column="READING_NUM"/>
		<result property="upperExposureHour" column="UPPER_EXPOSURE_HOUR"/>
		<result property="productKinds" column="PRODUCT_KINDS"/>
		<result property="productExposureStatus" column="PRODUCT_EXPOSURE_STATUS"/>	
	</resultMap>
	<select id="selectProductList" resultMap="productResulMap">
	   SELECT /* com.itsme.letitgo.company.payment.model.mapper.ProductMapper#selectProductList() */
	          PRODUCT_NO
	        , PRODUCT_PRICE
	        , READING_NUM
	        , UPPER_EXPOSURE_HOUR
	        , PRODUCT_KINDS
	        , PRODUCT_EXPOSURE_STATUS
	     FROM TBL_PRODUCT_LIST       
	</select>

</mapper>