<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.personal.regist.model.mapper.RegistInMemberMapper">
	
	<!-- 개인회원가입 등록 -->
	<insert id="InMemberReigst" parameterType="com.itsme.letitgo.personal.regist.model.dto.InMemberDTO">
		INSERT /* com.itsme.letitgo.personal.regist.model.mapper.RegistInMemberMapper#MemberReigst() */
		  INTO TBL_MEMBER A
		  (
		 	A.MEM_NO
		  , A.MEM_ID
		  , A.MEM_EMAIL
		  , A.MEM_PWD
		  , A.MEM_NAME
		  , A.MEM_PHONE
		  , A.MEM_KINDS
		  , A.MEM_ENROLL_DATE
		  , A.MEM_ENT_YN
		  , A.MEM_ENT_DATE
		  , A.MEM_ENT_NO	      
		  )
		  VALUES
		  (
		    SEQ_MEM_NO.NEXTVAL
		  , #{ memId }
		  , #{ memEmail }
		  , #{ memPwd }
		  , #{ memName }
		  , #{ memPhone }
		  , '개인회원'
		  , SYSDATE
		  , 'N'
		  , NULL
		  , NULL
		  )
	</insert>
	
	<!-- 중복된 아이디가 있는지 확인 -->
	<select id="duplicateIdCheck" resultType="_int">
		SELECT
	           COUNT(*)
		  FROM TBL_MEMBER
		 WHERE MEM_ID = #{ memId }
	</select>
	
	
	
</mapper>
