<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itsme.letitgo.personal.resume.model.mapper.ResumeMapper">
	
	<resultMap type="com.itsme.letitgo.personal.resume.model.dto.ResumeDTO" id="resumeResultMap">
		<id property="resumeNo" column="RESUME_NO"/>
		<result property="inMemNo" column="IN_MEM_NO"/>
		<result property="resumeTitle" column="RESUME_TITLE"/>
		<result property="resumeWriteDate" column="RESUME_WRITE_DATE"/>
		<result property="resumeScoutStatus" column="RESUME_SCOUT_STATUS"/>
		<result property="jobNo" column="JOB_NO"/>
	</resultMap>

	<resultMap type="com.itsme.letitgo.personal.resume.model.dto.DetailResumeDTO" id="detailResumeResultMap">
		<id property="resumeNo" column="RESUME_NO"/>
		<result property="inMemNo" column="IN_MEM_NO"/>
		<result property="resumeTitle" column="RESUME_TITLE"/>
		<result property="resumeWriteDate" column="RESUME_WRITE_DATE"/>
		<result property="resumeScoutStatus" column="RESUME_SCOUT_STATUS"/>
		<result property="jobNo" column="JOB_NO"/>
		
		<collection property="portFolioList" ofType="com.itsme.letitgo.personal.resume.model.dto.PortfolioDTO">
			<id property="potNo" column="POT_NO"/>
			<result property="resumeNo" column="RESUME_NO"/>
			<result property="potKinds" column="POT_KINDS"/>
			<result property="potLinkAddress" column="POT_LINK_ADDRESS"/>
			<result property="potFilePath" column="POT_FILE_PATH"/>
			<result property="potFileOriginalName" column="POT_FILE_ORIGINAL_NAME"/>
			<result property="potFileName" column="POT_FILE_NAME"/>
		</collection>
		
		<collection property="itemAndContentList" ofType="com.itsme.letitgo.personal.resume.model.dto.ItemAndContentDTO">
			<id property="selfIntroItemNo" column="SELF_INTRO_ITEM_NO"/>
			<result property="selfIntroItemName" column="SELF_INTRO_ITEM_NAME"/>
			
			<association property="selfIntroContent" javaType="com.itsme.letitgo.personal.resume.model.dto.SelfIntroductionContentDTO">
				<id property="selfIntroItemNo" column="SELF_INTRO_ITEM_NO"/>
				<result property="selfIntroItemContent" column="SELF_INTRO_ITEM_CONTENT"/>
				<result property="resumeNo" column="RESUME_NO"/>
			</association>
		</collection>
		
		<collection property="awardHistoryList" ofType="com.itsme.letitgo.personal.resume.model.dto.AwardHistoryDTO">
			<id property="awdNo" column="AWD_NO"/>
			<result property="awdName" column="AWD_NAME"/>
			<result property="awdAgency" column="AWD_AGENCY"/>
			<result property="awdDate" column="AWD_DATE"/>
			<result property="awdContent" column="AWD_CONTENT"/>
			<result property="resumeNo" column="RESUME_NO"/>
		</collection>
		
		<collection property="educationHistoryList" ofType="com.itsme.letitgo.personal.resume.model.dto.EducationHistoryDTO">
			<id property="eduNo" column="EDU_NO"/>
			<result property="eduName" column="EDU_NAME"/>
			<result property="eduAgency" column="EDU_AGENCY"/>
			<result property="eduStartDate" column="EDU_START_DATE"/>
			<result property="eduEndDate" column="EDU_END_DATE"/>
			<result property="eduContent" column="EDU_CONTENT"/>
			<result property="resumeNo" column="RESUME_NO"/>
		</collection>
		
		<collection property="licenseHistoryList" ofType="com.itsme.letitgo.personal.resume.model.dto.LicenseHistoryDTO">
			<id property="licenseNo" column="LICENSE_NO"/>
			<result property="licenseName" column="LICENSE_NAME"/>
			<result property="licenseAgency" column="LICENSE_AGENCY"/>
			<result property="licenseDate" column="LICENSE_DATE"/>
			<result property="resumeNo" column="RESUME_NO"/>
		</collection>
		
		<collection property="careerHistoryList" ofType="com.itsme.letitgo.personal.resume.model.dto.CareerHistoryDTO">
			<id property="carNo" column="CAR_NO"/>
			<result property="carComName" column="CAR_COM_NAME"/>
			<result property="carHireDate" column="CAR_HIRE_DATE"/>
			<result property="carEntDate" column="CAR_ENT_DATE"/>
			<result property="carStatus" column="CAR_STATUS"/>
			<result property="carDeptName" column="CAR_DEPT_NAME"/>
			<result property="carJobName" column="CAR_JOB_NAME"/>
			<result property="projectName" column="PROJECT_NAME"/>
			<result property="projectStartDate" column="PROJECT_START_DATE"/>
			<result property="projectEndDate" column="PROJECT_END_DATE"/>
			<result property="projectContent" column="PROJECT_CONTENT"/>
			<result property="carWorkField" column="CAR_WORK_FIELD"/>
			<result property="jobNo" column="JOB_NO"/>
			<result property="resumeNo" column="RESUME_NO"/>
		</collection>
		
		<collection property="jobFieldList" ofType="com.itsme.letitgo.personal.resume.model.dto.JobFieldDTO">
			<id property="jobNo" column="JOB_NO"/>
			<result property="jobName" column="JOB_NAME"/>
		</collection>
		
		<collection property="holdingAndSkillsList" ofType="com.itsme.letitgo.personal.resume.model.dto.HoldingAndSkillsDTO">
			<result property="resumeNo" column="RESUME_NO"/>
			<result property="skillsNo" column="SKILLS_NO"/>
			
			<association property="skillsAndCategory" javaType="com.itsme.letitgo.personal.resume.model.dto.SkillsAndCategoryDTO">
				<id property="skillsNo" column="SKILLS_NO"/>
				<result property="skillsName" column="SKILLS_NAME"/>
				
				<association property="skillsCategory" javaType="com.itsme.letitgo.personal.resume.model.dto.SkillsCategoryDTO">
					<id property="categoryNo" column="CATEGORY_NO"/>
					<result property="categoryName" column="CATEGORY_NAME"/>
					<result property="categoryUpperNo" column="CATEGORY_UPPER_NO"/>
				</association>
			</association>
		</collection>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.personal.resume.model.dto.CareerHistoryDTO" id="careerResultMap">
		<id property="carNo" column="CAR_NO"/>
		<result property="carComName" column="CAR_COM_NAME"/>
		<result property="carHireDate" column="CAR_HIRE_DATE"/>
		<result property="carEntDate" column="CAR_ENT_DATE"/>
		<result property="carStatus" column="CAR_STATUS"/>
		<result property="carDeptName" column="CAR_DEPT_NAME"/>
		<result property="carJobName" column="CAR_JOB_NAME"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="projectStartDate" column="PROJECT_START_DATE"/>
		<result property="projectEndDate" column="PROJECT_END_DATE"/>
		<result property="projectContent" column="PROJECT_CONTENT"/>
		<result property="carWorkField" column="CAR_WORK_FIELD"/>
		<result property="jobNo" column="JOB_NO"/>
		<result property="resumeNo" column="RESUME_NO"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.personal.resume.model.dto.InsertResumeDTO" id="insertResumeResultMap">
		<id property="resumeNo" column="RESUME_NO"/>
		<result property="inMemNo" column="IN_MEM_NO"/>
		<result property="resumeWriteDate" column="RESUME_WRITE_DATE"/>
		<result property="resumeScoutStatus" column="RESUME_SCOUT_STATUS"/>
		<result property="jobNo" column="JOB_NO"/>
		<result property="resumeTitle" column="RESUME_TITLE"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="carComName" column="CAR_COM_NAME"/>
		<result property="carHireDate" column="CAR_HIRE_DATE"/>
		<result property="carEntDate" column="CAR_ENT_DATE"/>
		<result property="carStatus" column="CAR_STATUS"/>
		<result property="carDeptName" column="CAR_DEPT_NAME"/>
		<result property="carJobName" column="CAR_JOB_NAME"/>
		<result property="carWorkField" column="CAR_WORK_FIELD"/>
		<result property="projectName" column="PROJECT_NAME"/>
		<result property="projectStartDate" column="PROJECT_START_DATE"/>
		<result property="projectEndDate" column="PROJECT_END_DATE"/>
		<result property="projectContent" column="PROJECT_CONTENT"/>
		<result property="potNo" column="POT_NO"/>
		<result property="potKinds" column="POT_KINDS"/>
		<result property="potLinkAddress" column="POT_LINK_ADDRESS"/>
		<result property="potFilePath" column="POT_FILE_PATH"/>
		<result property="potFileOriginalName" column="POT_FILE_ORIGINAL_NAME"/>
		<result property="potFileName" column="POT_FILE_NAME"/>
		<result property="selfIntroItemNo" column="SELF_INTRO_ITEM_NO"/>
		<result property="selfIntroItemContent" column="SELF_INTRO_ITEM_CONTENT"/>
		<result property="licenseNo" column="LICENSE_NO"/>
		<result property="licenseName" column="LICENSE_NAME"/>
		<result property="licenseAgency" column="LICENSE_AGENCY"/>
		<result property="licenseDate" column="LICENSE_DATE"/>
		<result property="eduNo" column="EDU_NO"/>
		<result property="eduName" column="EDU_NAME"/>
		<result property="eduAgency" column="EDU_AGENCY"/>
		<result property="eduStartDate" column="EDU_START_DATE"/>
		<result property="eduEndDate" column="EDU_END_DATE"/>
		<result property="eduContent" column="EDU_CONTENT"/>
		<result property="awdNo" column="AWD_NO"/>
		<result property="awdName" column="AWD_NAME"/>
		<result property="awdAgency" column="AWD_AGENCY"/>
		<result property="awdDate" column="AWD_DATE"/>
		<result property="awdContent" column="AWD_CONTENT"/>
	</resultMap>
	
	
	
	<select id="selectAllResumeList" resultMap="resumeResultMap">
		SELECT /* com.itsme.letitgo.personal.resume.model.mapper.ResumeMapper#selectAllResumeList() */
		       A.RESUME_NO
		     , A.IN_MEM_NO
		     , A.RESUME_TITLE
		     , A.RESUME_WRITE_DATE
		     , A.RESUME_SCOUT_STATUS
		     , A.JOB_NO
		  FROM TBL_RESUME A
		 WHERE A.IN_MEM_NO = #{ memberNo }
	</select>
	
	<select id="selectDetailResumeList" parameterType="_int" resultMap="detailResumeResultMap">
		SELECT /* com.itsme.letitgo.personal.resume.model.mapper.ResumeMapper#selectDetailResumeList() */
		       *
		  FROM TBL_RESUME R
		  JOIN TBL_PORTFOLIO P ON (R.RESUME_NO = P.RESUME_NO)
		  JOIN TBL_SELF_INTRODUCTION_CONTENT SIC ON (R.RESUME_NO = SIC.RESUME_NO)
		  JOIN TBL_SELF_INTRODUCTION_ITEM SII ON (SII.SELF_INTRO_ITEM_NO = SIC.SELF_INTRO_ITEM_NO)
		  JOIN TBL_AWARD_HISTORY AH ON (R.RESUME_NO = AH.RESUME_NO)
		  JOIN TBL_EDUCATION_HISTORY EH ON (R.RESUME_NO = EH.RESUME_NO)
		  JOIN TBL_LICENSE_HISTORY LH ON (R.RESUME_NO = LH.RESUME_NO)
		  JOIN TBL_RESUME_HOLDING_SKILLS RH ON (R.RESUME_NO = RH.RESUME_NO)
		  JOIN TBL_SKILLS S ON (S.SKILLS_NO = RH.SKILLS_NO)
		  JOIN TBL_SKILLS_CATEGORY SC ON (SC.CATEGORY_NO = S.CATEGORY_NO)
		  JOIN TBL_CAREER_HISTORY CH ON (R.RESUME_NO = CH.RESUME_NO)
		  JOIN TBL_JOB_FIELD JF ON (R.JOB_NO = JF.JOB_NO)
		 WHERE R.RESUME_NO = #{ resumeNo }
	</select>
	
	<select id="selectResume" parameterType="string" resultType="_int">
		SELECT
		       A.RESUME_NO
		  FROM TBL_RESUME A
		 WHERE A.RESUME_TITLE = #{ resumeTitle }
	</select>
	
	<insert id="insertResume">
		INSERT
		  INTO TBL_RESUME A
		(
		  A.RESUME_NO, A.IN_MEM_NO, A.RESUME_WRITE_DATE
		, A.RESUME_SCOUT_STATUS, A.JOB_NO, A.RESUME_TITLE
		)
		VALUES
		(
		  SEQ_RESUME_NO.NEXTVAL, #{ inMemNo }, SYSDATE
		, 'Y', #{ jobNo }, #{ resumeTitle }
		)
		
		<selectKey keyColumn="RESUME_NO" keyProperty="resumeNo" resultType="_int" order="AFTER">
			SELECT
				   SEQ_RESUME_NO.CURRVAL
		  	  FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertCareer">
		INSERT
		  INTO TBL_CAREER_HISTORY A
		(
		  A.CAR_NO, A.CAR_COM_NAME, A.CAR_HIRE_DATE, A.CAR_ENT_DATE
		, A.CAR_STATUS, A.CAR_DEPT_NAME, A.CAR_JOB_NAME, A.CAR_WORK_FIELD
		, A.PROJECT_NAME, A.PROJECT_START_DATE, A.PROJECT_END_DATE, A.PROJECT_CONTENT
		, A.JOB_NO, A.RESUME_NO
		)
		VALUES
		(
		  SEQ_CAR_NO.NEXTVAL, #{ carComName }, #{ carHireDate }, #{ carEntDate }
		, 'Y', #{ carDeptName }, #{ carJobName }, #{ carWorkField }
		, #{ projectName }, #{ projectStartDate }, #{ projectEndDate }, #{ projectContent }
		, #{ jobNo }, #{ resumeNo }
		)
		
	</insert>
	
	<insert id="insertPot">
		INSERT
		  INTO TBL_PORTFOLIO A
		(
		  A.POT_NO, A.RESUME_NO, A.POT_KINDS, A.POT_LINK_ADDRESS
		, A.POT_FILE_PATH, A.POT_FILE_ORIGINAL_NAME, A.POT_FILE_NAME
		)
		VALUES
		(
		  SEQ_POT_NO.NEXTVAL, #{ resumeNo }, '링크', #{ potLinkAddress }
		, NULL, NULL, NULL
		)
	</insert>
	
	<insert id="insertIntroContent">
		INSERT
		  INTO TBL_SELF_INTRODUCTION_CONTENT A
		(
		  A.SELF_INTRO_ITEM_NO, A.RESUME_NO, A.SELF_INTRO_ITEM_CONTENT
		)
		VALUES
		(
		  #{ selfIntroItemNo }, #{ resumeNo }, #{ selfIntroItemContent }
		)
	</insert>
	
	<insert id="insertLicense">
		INSERT
		  INTO TBL_LICENSE_HISTORY A
		(
		  A.LICENSE_NO, A.LICENSE_NAME
		, A.LICENSE_AGENCY, A.LICENSE_DATE, A.RESUME_NO
		)
		VALUES
		(
		  SEQ_LICENSE_NO.NEXTVAL, #{ licenseName }
		  , #{ licenseAgency }, #{ licenseDate }, #{ resumeNo }
		)
	</insert>
	
	<insert id="insertEdu">
		INSERT
		  INTO TBL_EDUCATION_HISTORY A
		(
		  A.EDU_NO, A.EDU_NAME, A.EDU_AGENCY
		, A.EDU_START_DATE, A.EDU_END_DATE, A.EDU_CONTENT, A.RESUME_NO
		)
		VALUES
		(
		  SEQ_EDU_NO.NEXTVAL, #{ eduName }, #{ eduAgency }
		, #{ eduStartDate }, #{ eduEndDate }, #{ eduContent }, #{ resumeNo }
		)
	</insert>
	
	<insert id="insertAwd">
		INSERT
		  INTO TBL_AWARD_HISTORY A
		(
		  A.AWD_NO, A.AWD_NAME, A.AWD_AGENCY
		, A.AWD_DATE, A.AWD_CONTENT, A.RESUME_NO
		)
		VALUES
		(
		  SEQ_AWD_NO.NEXTVAL, #{ awdName }, #{ awdAgency }
		, #{ awdDate }, #{ awdContent }, #{ resumeNo }
		)
	</insert>
	
	<update id="updateResume">
		UPDATE
		       TBL_RESUME A
		   SET A.RESUME_TITLE = #{ resumeTitle }
		     , A.JOB_NO = #{ jobNo } 
		 WHERE A.RESUME_NO = #{ resumeNo }
	</update>
	
	<update id="updateCareer">
		UPDATE
		       TBL_CAREER_HISTORY A
		   SET A.CAR_COM_NAME = #{ carComName }
		     , A.CAR_DEPT_NAME = #{ carDeptName }
		     , A.CAR_JOB_NAME = #{ carJobName }
		     , A.CAR_WORK_FIELD = #{ carWorkField }
		     , A.CAR_HIRE_DATE = #{ carHireDate }
		     , A.CAR_ENT_DATE = #{ carEntDate }
		     , A.CAR_STATUS = 'Y'
		     , A.PROJECT_NAME = #{ projectName }
		     , A.PROJECT_CONTENT = #{ projectContent }
		     , A.PROJECT_START_DATE = #{ projectStartDate, jdbcType = NULL }
		     , A.PROJECT_END_DATE = #{ projectEndDate, jdbcType = NULL }
		 WHERE A.RESUME_NO = #{ resumeNo }
	</update>
	
	<update id="updatePot">
		UPDATE
		       TBL_PORTFOLIO A
		   SET A.POT_LINK_ADDRESS = #{ potLinkAddress }
		 WHERE A.RESUME_NO = #{ resumeNo }
	</update>
	
	<update id="updateIntroContent">
		UPDATE
		       TBL_SELF_INTRODUCTION_CONTENT A
		   SET A.SELF_INTRO_ITEM_CONTENT = #{ selfIntroItemContent }
		 WHERE A.RESUME_NO = #{ resumeNo }
	       AND A.SELF_INTRO_ITEM_NO = #{ selfIntroItemNo }
	</update>
	
	<update id="updateLicense">
		UPDATE
		       TBL_LICENSE_HISTORY A
		   SET A.LICENSE_NAME = #{ licenseName }
		     , A.LICENSE_AGENCY = #{ licenseAgency }
		     , A.LICENSE_DATE = #{ licenseDate }
		 WHERE A.RESUME_NO = #{ resumeNo }
	</update>
	
	<update id="updateEdu">
		UPDATE
		       TBL_EDUCATION_HISTORY A
		   SET A.EDU_NAME = #{ eduName }
		     , A.EDU_AGENCY = #{ eduAgency }
		     , A.EDU_START_DATE = #{ eduStartDate }
		     , A.EDU_END_DATE = #{ eduEndDate }
		     , A.EDU_CONTENT = #{ eduContent }
		 WHERE A.RESUME_NO = #{ resumeNo }
	</update>
	
	<update id="updateAwd">
		UPDATE
		       TBL_AWARD_HISTORY A
		   SET A.AWD_NAME = #{ awdName }
		     , A.AWD_AGENCY = #{ awdAgency }
		     , A.AWD_DATE = #{ awdDate }
		     , A.AWD_CONTENT = #{ awdContent }
		 WHERE A.RESUME_NO = #{ resumeNo }
	</update>
	
	<delete id="deleteResume">
		DELETE
		  FROM TBL_RESUME R
		 WHERE R.RESUME_NO = #{ resumeNo }
	</delete>
	
	<delete id="deleteAwd">
		DELETE
		  FROM TBL_AWARD_HISTORY A
		 WHERE A.RESUME_NO = #{ resumeNo }
	</delete>
	
	<delete id="deleteLicense">
		DELETE
		  FROM TBL_LICENSE_HISTORY A
		 WHERE A.RESUME_NO = #{ resumeNo }
	</delete>
	
	<delete id="deleteIntroContent">
		DELETE
		  FROM TBL_SELF_INTRODUCTION_CONTENT A
		 WHERE A.RESUME_NO = #{ resumeNo }
	</delete>
	
	<delete id="deletePot">
		DELETE
		  FROM TBL_PORTFOLIO A
		 WHERE A.RESUME_NO = #{ resumeNo }
	</delete>
	
	<delete id="deleteEdu">
		DELETE
		  FROM TBL_EDUCATION_HISTORY A
		 WHERE A.RESUME_NO = #{ resumeNo }
	</delete>
	
	<delete id="deleteCareer">
		DELETE
		  FROM TBL_CAREER_HISTORY A
		 WHERE A.RESUME_NO = #{ resumeNo }
	</delete>
	
	<delete id="deleteSkills">
		DELETE
		  FROM TBL_RESUME_HOLDING_SKILLS A
		 WHERE A.RESUME_NO = #{ resumeNo }
	</delete>
</mapper>