<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper">

	<resultMap type="com.itsme.letitgo.admin.recruit.jobposting.model.dto.PostInsertRuqeustDTO" id="postInsertRuqeustResultMap">
		<id property="jobPostReqNo" column="JOB_POST_REQ_NO"/>
		<result property="jobPostNo" column="JOB_POST_NO"/>
		<result property="coComName" column="CO_COM_NAME"/>
		<result property="jobPostReqDate" column="JOB_POST_REQ_DATE"/>
		<result property="jobPostAnsDate" column="JOB_POST_ANS_DATE"/>
		<result property="jobPostRejectReason" column="JOB_POST_REJECT_REASON"/>
		<result property="jobPostAnsKinds" column="JOB_POST_ANS_KINDS"/>
		<result property="changeReqJobPostNo" column="CHANGE_REQ_JOB_POST_NO"/>
	</resultMap>

	
	<select id="selectPostRequest" resultMap="postInsertRuqeustResultMap">
		SELECT /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#selectPostRequest() */ 
		       A.JOB_POST_REQ_NO
		     , A.JOB_POST_NO
		     , D.CO_COM_NAME
		     , A.JOB_POST_REQ_DATE
		     , A.JOB_POST_ANS_DATE
		     , A.JOB_POST_REJECT_REASON
		     , A.JOB_POST_ANS_KINDS
		  FROM TBL_JOB_POSTING_APP_HISTORY A
		  LEFT JOIN TBL_JOB_POSTING B ON (A.JOB_POST_NO = B.JOB_POST_NO)
		  LEFT JOIN TBL_MEMBER C ON (B.CO_MEM_NO = C.MEM_NO)
		  LEFT JOIN TBL_CO_MEMBER_ADD_INFO D ON (C.MEM_NO = D.CO_MEM_NO)
		 WHERE A.JOB_POST_REQ_KINDS = '공고등록'
		 ORDER BY A.JOB_POST_REQ_NO ASC
	</select>
	
	<update id="updatePostRequestApp1">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostRequestApp1() */
		       TBL_JOB_POSTING
		   SET JOB_POST_KINDS = '승인된공고'
		     , JOB_POST_ENROLL_DATE = SYSDATE
		 WHERE JOB_POST_NO = #{ jobPostNo }
	</update>
	
	<update id="updatePostRequestApp2">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostRequestApp2() */
		       TBL_JOB_POSTING_APP_HISTORY		       
		   SET JOB_POST_ANS_KINDS = '승인'
		     , JOB_POST_ANS_DATE = SYSDATE
		 WHERE JOB_POST_REQ_NO = #{ jobPostReqNo }
	</update>
	
	<update id="updatePostRejectRequest1">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostRejectRequest1() */
		       TBL_JOB_POSTING		       
		   SET JOB_POST_KINDS = '거절된공고'
		 WHERE JOB_POST_NO = #{ jobPostNo }
	</update>
	
	<update id="updatePostRejectRequest2">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostRejectRequest2() */
		       TBL_JOB_POSTING_APP_HISTORY		       
		   SET JOB_POST_ANS_KINDS = '거절'
		     , JOB_POST_ANS_DATE = SYSDATE
		     , JOB_POST_REJECT_REASON = #{ rejectMessage }
		 WHERE JOB_POST_REQ_NO = #{ jobPostReqNo }
	</update>
	
	<select id="selectPostInsertUpdate" resultMap="postInsertRuqeustResultMap">
		SELECT /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#selectPostInsertUpdate() */ 
		       A.JOB_POST_REQ_NO
		     , A.JOB_POST_NO
		     , D.CO_COM_NAME
		     , A.JOB_POST_REQ_DATE
		     , A.JOB_POST_ANS_DATE
		     , A.JOB_POST_REJECT_REASON
		     , A.JOB_POST_ANS_KINDS
		     , A.CHANGE_REQ_JOB_POST_NO
		  FROM TBL_JOB_POSTING_APP_HISTORY A
		  JOIN TBL_JOB_POSTING B ON (A.JOB_POST_NO = B.JOB_POST_NO)
		  JOIN TBL_MEMBER C ON (B.CO_MEM_NO = C.MEM_NO)
		  JOIN TBL_CO_MEMBER_ADD_INFO D ON (C.MEM_NO = D.CO_MEM_NO)
		 WHERE A.JOB_POST_REQ_KINDS = '공고수정'
		 ORDER BY A.JOB_POST_REQ_NO
	</select>
	
	<update id="updatePostUpdateApp1">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostUpdateApp1() */
		       TBL_JOB_POSTING
		   SET JOB_POST_KINDS = '승인된공고'
		     , JOB_POST_UPDATE_DATE = SYSDATE
		 WHERE JOB_POST_NO = #{ jobPostNo }
	</update>
	
	<update id="updatePostUpdateApp2">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostUpdateApp2() */
		       TBL_JOB_POSTING_APP_HISTORY		       
		   SET JOB_POST_ANS_KINDS = '승인'
		     , JOB_POST_ANS_DATE = SYSDATE
		 WHERE JOB_POST_REQ_NO = #{ jobPostReqNo }
	</update>
	
	<update id="updatePostUpdateRejectRequest1">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostUpdateRejectRequest1() */
		       TBL_JOB_POSTING		       
		   SET JOB_POST_KINDS = '거절된공고'
		 WHERE JOB_POST_NO = #{ jobPostNo }
	</update>
	
	<update id="updatePostUpdateRejectRequest2">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostUpdateRejectRequest2() */
		       TBL_JOB_POSTING_APP_HISTORY		       
		   SET JOB_POST_ANS_KINDS = '거절'
		     , JOB_POST_ANS_DATE = SYSDATE
		     , JOB_POST_REJECT_REASON = #{ rejectMessage }
		 WHERE JOB_POST_REQ_NO = #{ jobPostReqNo }
	</update>
	
	<select id="selectChangeReqJobPostNo" resultType="_int"> 
		SELECT /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#selectChangeReqJobPostNo() */
		       CHANGE_REQ_JOB_POST_NO
		  FROM TBL_JOB_POSTING_APP_HISTORY
		 WHERE JOB_POST_REQ_NO = #{ jobPostReqNo } 	
	</select>
	
	<update id="updatePostUpdateApp3">
		UPDATE /* com.itsme.letitgo.admin.recruit.jobposting.model.mapper.AdminJobPostMapper#updatePostUpdateApp3() */
		       TBL_JOB_POSTING
		   SET JOB_POST_KINDS = '수정완료전공고'
		 WHERE JOB_POST_NO = #{ changeReqJobPostNo }
	</update>
	
</mapper>