<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.personal.info.model.mapper.PersonalInfoMapper">

	<resultMap type="com.itsme.letitgo.personal.info.model.dto.RestrictedCompanyDTO" id="restricedCompanyResult">
		<id property="inMemNo" column="IN_MEM_NO"/>
		<result property="coComName" column="CO_COM_NAME"/>
		<result property="coMemNo" column="CO_MEM_NO"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.personal.info.model.dto.ModifyMemberDTO" id="modifyPersonalResultMap">
		<id property="memNo" column="MEM_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="memPwd" column="MEM_PWD"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="memKinds" column="MEM_KINDS"/>
		<result property="email" column="MEM_EMAIL"/>
		<result property="memEnrollDate" column="MEM_ENROLL_DATE"/>
		<result property="memEntYn" column="MEM_ENT_YN"/>
		<result property="memEntDate" column="MEM_ENT_DATE"/>
	</resultMap>
	

	<select id="selectshallowBrowsingNum" resultType="_int">
		SELECT /* com.itsme.letitgo.personal.info.model.mapper.PersonalInfoMapper#selectshallowBrowsingNum()  */
		       COUNT(*)
		  FROM TBL_RESUME_READING_HISTORY A
		  JOIN TBL_RESUME B ON (A.RESUME_NO = B.RESUME_NO)
		 WHERE RESUME_BROWSE_KINDS = '얕은열람'
		   AND B.IN_MEM_NO = #{ memNo }
		   AND B.RESUME_SCOUT_STATUS = 'Y'
	</select>
	
	<select id="selectDeepBrowsingNum" resultType="_int">
		SELECT /* com.itsme.letitgo.personal.info.model.mapper.PersonalInfoMapper#selectDeepBrowsingNum()  */
		       COUNT(*)
		  FROM TBL_RESUME_READING_HISTORY A
		  JOIN TBL_RESUME B ON (A.RESUME_NO = B.RESUME_NO)
		 WHERE RESUME_BROWSE_KINDS = '깊은열람'
		   AND B.IN_MEM_NO = '3'
		   AND B.RESUME_SCOUT_STATUS = 'Y'
	</select>
	
	<select id="selectinterviewProposalNum" resultType="_int">
		SELECT /* com.itsme.letitgo.personal.info.model.mapper.PersonalInfoMapper#selectinterviewProposalNum()  */
		       COUNT(*)
 		 FROM TBL_INTERVIEW_PROPOSAL
 		WHERE IN_MEM_NO = '3'
	</select>
	
	<select id="selectApplicationCompletedNum" resultType="_int">
		SELECT /* com.itsme.letitgo.personal.info.model.mapper.PersonalInfoMapper#selectApplicationCompletedNum()  */
		       COUNT(*)
 		 FROM TBL_APPLYING_HISTORY A
 		 LEFT JOIN TBL_RESUME B ON (A.RESUME_NO = B.RESUME_NO)
 		WHERE B.IN_MEM_NO = '3'
 		  AND A.JOB_POST_APPLYING_STATUS = '지원완료'
	</select>
	
	<select id="selectApplicationCanceledNum" resultType="_int">
		SELECT /* com.itsme.letitgo.personal.info.model.mapper.PersonalInfoMapper#selectApplicationCanceledNum()  */
		       COUNT(*)
 		 FROM TBL_APPLYING_HISTORY A
 		 LEFT JOIN TBL_RESUME B ON (A.RESUME_NO = B.RESUME_NO)
 		WHERE B.IN_MEM_NO = '3'
 		  AND A.JOB_POST_APPLYING_STATUS = '지원취소'
	</select>
	
	<select id="selectBookmarkNum" resultType="_int">
		SELECT /* com.itsme.letitgo.personal.info.model.mapper.PersonalInfoMapper#selectBookmarkNum()  */
		       COUNT(*)
  		FROM TBL_BOOKMARK
 		WHERE IN_MEM_NO = '3'
	</select>
	
	<!-- 개인 열람제한기업 조회 -->
	<select id="selectRectrictedCompany" parameterType="_int" resultMap="restricedCompanyResult">
		SELECT
			   RC.IN_MEM_NO
			 , RC.CO_COM_NAME
			 , RC.CO_MEM_NO
		  FROM TBL_RESTRICTED_COMPANY RC
		 WHERE IN_MEM_NO = #{ memNo }
	</select>
	
	<!-- 개인정보 수정 -->
	<update id="modifyPersonalInfo" parameterType="com.itsme.letitgo.personal.info.model.dto.ModifyMemberDTO">
		UPDATE 
			   TBL_MEMBER
		   SET MEM_ID = #{ memId }
		     , MEM_EMAIL = #{ email }
		     , MEM_PHONE = #{ memPhone }
			 , MEM_NAME	= #{ memName } 
	    WHERE  MEM_NO = #{ memNo }
	</update>
	

</mapper>