<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper">
	<resultMap type="com.itsme.letitgo.company.recruit.jobposting.model.dto.SelectCoMyJobPostingDTO" id="resultMyJobPosting">	
		<id property="jobPostNo" column="JOB_POST_NO"/>
		<result property="jobPostTitle" column="JOB_POST_TITLE" javaType="string"/>
		<result property="jobPostMinExperience" column="JOB_POST_MIN_EXPERIENCE"/>
		<result property="jobPostMaxExperience" column="JOB_POST_MAX_EXPERIENCE"/>
		<result property="jobPostEnrollDate" column="JOB_POST_ENROLL_DATE"/>
		<result property="jobPostDeadline" column="JOB_POST_DEADLINE"/>
		<result property="jobPostKinds" column="JOB_POST_KINDS"/>
		<result property="exposureUseCheck" column="EXPOSURE_USE_CHECK"/>
		<result property="jobPostContents" column="JOB_POST_CONTENTS"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.personal.recruit.jobposting.model.dto.JpJobFieldDTO" id="resultJobField">
		<id property="jobNo" column="JOB_NO"/>
		<result property="jobName" column="JOB_NAME"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.personal.recruit.jobposting.model.dto.JpSkillsDTO" id="resultSkills" >
		<result property="skillsNo" column="SKILLS_NO"/>
		<result property="jobPostNo" column="JOB_POST_NO"/>
		<result property="skillsName" column="SKILLS_NAME"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.personal.recruit.jobposting.model.dto.JpSkillsCategoryDTO" id="resultSkillsCategory">
		<id property="categoryNo" column="CATEGORY_NO"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
		<result property="categoryUpperNo" column="CATEGORY_UPPER_NO"/>
	</resultMap>
	
	
	
	<select id="selectCoMyJobPosting" parameterType="com.itsme.letitgo.company.recruit.jobposting.model.dto.SelectCoMyJobPostingDTO" resultMap="resultMyJobPosting">
		SELECT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#updateRecruit() */
	    	   JP.JOB_POST_NO
	    	 , JP.JOB_POST_TITLE
	    	 , JP.JOB_POST_MIN_EXPERIENCE
	    	 , JP.JOB_POST_MAX_EXPERIENCE
	    	 , JP.JOB_POST_ENROLL_DATE
	    	 , JP.JOB_POST_DEADLINE
	    	 , JP.JOB_POST_KINDS
	    	 , JP.EXPOSURE_USE_CHECK
	      FROM TBL_JOB_POSTING JP
	     WHERE JP.CO_MEM_NO = #{ coMemNo }
	</select>
	
	<select id="selectRecruitingMyJobPosting" parameterType="com.itsme.letitgo.company.recruit.jobposting.model.dto.SelectCoMyJobPostingDTO" resultMap="resultMyJobPosting">
		SELECT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#selectRecruitingMyJobPosting() */
	    	   JP.JOB_POST_NO
	    	 , JP.JOB_POST_TITLE
	    	 , JP.JOB_POST_MIN_EXPERIENCE
	    	 , JP.JOB_POST_MAX_EXPERIENCE
	    	 , JP.JOB_POST_ENROLL_DATE
	    	 , JP.JOB_POST_DEADLINE
	    	 , JP.JOB_POST_KINDS
	    	 , JP.EXPOSURE_USE_CHECK
	      FROM TBL_JOB_POSTING JP
	     WHERE JP.CO_MEM_NO = #{ coMemNo }
	       AND JP.JOB_POST_KINDS = '승인된공고'
	</select>
	
	<select id="selectRequestMyJobPosting" parameterType="com.itsme.letitgo.company.recruit.jobposting.model.dto.SelectCoMyJobPostingDTO" resultMap="resultMyJobPosting">
		SELECT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#selectRequestMyJobPosting() */
	    	   JP.JOB_POST_NO
	    	 , JP.JOB_POST_TITLE
	    	 , JP.JOB_POST_MIN_EXPERIENCE
	    	 , JP.JOB_POST_MAX_EXPERIENCE
	    	 , JP.JOB_POST_ENROLL_DATE
	    	 , JP.JOB_POST_DEADLINE
	    	 , JP.JOB_POST_KINDS
	    	 , JP.EXPOSURE_USE_CHECK
	      FROM TBL_JOB_POSTING JP
	     WHERE JP.CO_MEM_NO = #{ coMemNo }
	       AND JP.JOB_POST_KINDS = '승인대기중인공고'
	</select>
	
	<select id="selectJobName" resultMap="resultJobField">
		SELECT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#selectJobName() */
			   JF.JOB_NO
			 , JF.JOB_NAME
		  FROM TBL_JOB_FIELD JF
	</select>
	
	<select id="selectSkillsCategory" resultMap="resultSkillsCategory">
		SELECT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#selectSkillsCategory() */
			   SC.CATEGORY_NO
			 , SC.CATEGORY_NAME
			 , SC.CATEGORY_UPPER_NO
		  FROM TBL_SKILLS_CATEGORY SC
	</select>
	
	<select id="selectSkills" resultMap="resultSkills">
		SELECT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#selectSkills() */
			   S.SKILLS_NO
			 , S.SKILLS_NAME
			 , S.CATEGORY_NO S
		  FROM TBL_SKILLS S
	</select>
	
	<!-- 공고 등록 입력한 값 insert 후 seq로 입력한 jobPostNo dto에 저장 -->
	<insert id="insertJobPosting" parameterType="com.itsme.letitgo.company.recruit.jobposting.model.dto.RequestJobPostingDTO">
		INSERT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#insertJobPosting() */
		  INTO TBL_JOB_POSTING JP
		(
		  JP.JOB_POST_NO
		, JP.CO_MEM_NO
		, JP.JOB_POST_TITLE
		, JP.JOB_NO
		, JP.JOB_POST_DEADLINE
		, JP.JOB_POST_CONTENTS
		<if test="jobPostMinExperience != null">
		, JP.JOB_POST_MIN_EXPERIENCE
		</if>
		<if test="jobPostMaxExperience != null">
		, JP.JOB_POST_MAX_EXPERIENCE
		</if>
		)
		VALUES
		(
		  SEQ_JOB_POST_NO.NEXTVAL
		, #{ coMemNo }
		, #{ jobPostTitle }
		, #{ jobNo }
		, #{ jobPostDeadLine }
		, #{ jobPostContents }
		<if test="jobPostMinExperience != null">
		, #{ jobPostMinExperience }
		</if>
		<if test="jobPostMaxExperience != null">
		, #{ jobPostMaxExperience }
		</if>
		
		)
		<selectKey keyColumn="JOB_POST_NO" keyProperty="jobPostNo" resultType="_int" order="AFTER">
	        SELECT 
	               SEQ_JOB_POST_NO.CURRVAL
	          FROM DUAL
        </selectKey>
	</insert>
	<!-- 공고 등록 선택한 skills insert -->
	<insert id="insertSkills" parameterType="com.itsme.letitgo.personal.recruit.jobposting.model.dto.JpSkillsDTO">
		INSERT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#insertSkills() */
		  INTO TBL_JOB_POSTING_REQ_SKILLS RS
		(
		  RS.JOB_POST_NO
		, RS.SKILLS_NO
		)
		VALUES
		(
		  #{ jobPostNo }
		, #{ skillsNo }
		)
	</insert>
	<!-- 공고 등록 history에 insert -->
	<insert id="insertjobPostingAppHistory" parameterType="_int">
		INSERT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#insertjobPostingAppHistory() */
		  INTO TBL_JOB_POSTING_APP_HISTORY AH
		(
		  AH.JOB_POST_REQ_NO
		, AH.JOB_POST_REQ_DATE
		, AH.JOB_POST_REQ_KINDS
		, AH.JOB_POST_NO
		)
		VALUES
		(
		  SEQ_JOB_POST_REQ_NO.NEXTVAL
		, SYSDATE
		, '공고등록'
		, #{ jobPostNo }
		)
	</insert>
	
	<select id="updateRecruit" parameterType="_int" resultMap="resultMyJobPosting">
		SELECT /* com.itsme.letitgo.company.recruit.jobposting.model.mapper.SelectCoMyJobPostingMapper#updateRecruit() */
		  	   JP.JOB_POST_NO
		  	 , JP.JOB_POST_TITLE
		  	 , JP.JOB_POST_MIN_EXPERIENCE
		  	 , JP.JOB_POST_MAX_EXPERIENCE
		  	 , JP.JOB_POST_DEADLINE
		  	 , JP.JOB_POST_CONTENTS
		  	 , JP.JOB_POST_KINDS
		  	 , JP.JOB_NO
		  	 , JOB_POST_ENROLL_DATE
		  FROM TBL_JOB_POSTING JP
		 WHERE JP.JOB_POST_NO = #{ jobPostNo }
	</select>

	
	
</mapper>