<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itsme.letitgo.company.scout.model.mapper.CompanyScoutMapper">
	<resultMap type="com.itsme.letitgo.company.scout.model.dto.MainScoutListingDTO" id="mainScoutResultMap">
		<id property="resumeNo" column="RESUME_NO"/>
		<result property="memNo" column="MEM_NO"/>
		<result property="carNo" column="CAR_NO"/>
		<result property="skillNo" column="SKILLS_NO"/>
		
		<association property="memberDTO" javaType="com.itsme.letitgo.company.info.model.dto.CompanyTestDTO">
			<id property="memNO" column="MEM_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="memPwd" column="MEM_PWD"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="memEmail" column="MEM_EMAIL"/>
		<result property="memPhone" column="MEM_PHONE"/>
		<result property="memKinds" column="MEM_KINDS"/>
		<result property="enrollDate" column="MEM_ENROLL_DATE"/>
		<result property="entYn" column="MEM_ENT_YN"/>
		<result property="entDate" column="MEM_ENT_DATE"/>
		<result property="memEntNo" column="MEM_ENT_NO"/>
		</association>
		
		<association property="resumeDTO" javaType="com.itsme.letitgo.personal.resume.model.dto.ResumeDTO">
			<id property="resumeNo" column="RESUME_NO"/>
			<result property="inMemNo" column="IN_MEM_NO"/>
			<result property="resumeWriteDate" column="RESUME_WRITE_DATE"/>
			<result property="resumeScoutStatus" column="RESUME_SCOUT_STATUS"/>
			<result property="jobNo" column="JOB_NO"/>
			<result property="resumeTitle" column="RESUME_TITLE"/>
		</association>
		
		<collection property="carHistoryDTO" ofType="com.itsme.letitgo.company.scout.model.dto.CompanyCareerHistoryDTO">
			<id property="carNo" column="CAR_NO"/>
			<result property="carComName" column="CAR_COM_NAME"/>
			<result property="carHireDate" column="CAR_HIRE_DATE"/>
			<result property="carEntDate" column="CAR_ENT_DATE"/>
			<result property="carStatus" column="CAR_STATUS"/>
			<result property="carDeptName" column="CAR_DEPT_NAME"/>
			<result property="carJobName" column="CAR_JOB_NAME"/>
			<result property="projectName" column="PROJECT_NAME"/>
			<result property="projectStartDate" column="PROJECT_START_DATE"/>
			<result property="projectEndDate" column="PROJECT_END_DATE"/>
			<result property="projectContent" column="PROJECT_CONTENT"/>
			<result property="carWorkField" column="CAR_WORK_FIELD"/>
			<result property="jobNo" column="JOB_NO"/>
			<result property="resumeNo" column="RESUME_NO"/>
		</collection>
		
		<collection property="holdingSkillDTO" ofType="com.itsme.letitgo.personal.resume.model.dto.HoldingAndSkillsDTO">
			<id property="resumeNo" column="RESUME_NO"/>
			<result property="skillsNo" column="SKILLS_NO"/>
			
			<association property="skillsAndCategory" javaType="com.itsme.letitgo.personal.resume.model.dto.SkillsAndCategoryDTO">
				<id property="skillsNo" column="SKILLS_NO"/>
				<result property="skillsName" column="SKILLSNAME"/>
				<result property="categoryNo" column="CATEGORY_NO"/>
				
				<association property="skillsCategory" javaType="com.itsme.letitgo.personal.resume.model.dto.SkillsCategoryDTO">
					<id property="categoryNo" column="CATEGORY_NO"/>
					<result property="categoryName" column="CATEGORY_NAME"/>
					<result property="categoryUpperNo" column="CATEGORY_UPPER_NO"/>
				</association>
			</association>
		</collection>
	</resultMap>
		
		<select id="companySelectAllScout" resultMap="mainScoutResultMap">
		</select>
	
	
	
</mapper>