<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itsme.letitgo.admin.resume.model.mapper.JobFieldMapper">
	<!-- insert resultMap -->
	<resultMap type="com.itsme.letitgo.admin.resume.model.dto.JobFieldDTO" id="jobFieldInsertResultMap">
		<id property="no" column="JOB_NO"/>
		<result property="name" column="JOB_NAME"/>
	</resultMap>
	<!-- select resultMap -->
	<resultMap type="com.itsme.letitgo.admin.resume.model.dto.JobFieldDTO" id="jobFieldResultMap">
		<id property="no" column="JOB_NO"/>
		<result property="name" column="JOB_NAME"/>
	</resultMap>
	
	<insert id="jobFieldInsert" parameterType="com.itsme.letitgo.admin.resume.model.dto.JobFieldDTO">
		INSERT
		  INTO TBL_JOB_FIELD A
		(
		  A.JOB_NO
		, A.JOB_NAME  
		)  
		VALUES
		(
		  SEQ_JOB_NO.NEXTVAL
		, #{ name }  
		)
	</insert>
	
	<select id="selectAllJobFieldList" resultMap="jobFieldResultMap">
	 	SELECT
	 		   A.JOB_NO
	 		 , A.JOB_NAME
	 	  FROM TBL_JOB_FIELD A   
	</select>
	
</mapper>





