<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itsme.letitgo.admin.resume.model.mapper.SkillsMapper">
	<!-- insert resultMap -->
	<resultMap type="com.itsme.letitgo.admin.resume.model.dto.SkillsDTO" id="skillsInsertResultMap">
		<id property="skillsNo" column="SKILLS_NO"/>
		<result property="name" column="SKILLS_NAME"/>
		<result property="no" column="CATEGORY_NO"/>
	</resultMap>
	<!-- select resultMap -->
	<resultMap type="com.itsme.letitgo.admin.resume.model.dto.SkillsDTO" id="skillsResultMap">
		<id property="skillsNo" column="SKILLS_NO"/>
		<result property="no" column="CATEGORY_NO"/>
		<result property="name" column="SKILLS_NAME"/>
	</resultMap>
	<!-- delete resultMap -->
	<resultMap type="com.itsme.letitgo.admin.resume.model.dto.SkillsDTO" id="skillsDeleteResultMap">
		<id property="skillsNo" column="SKILLS_NO"/>
		<result property="name" column="SKILLS_NAME"/>
		<result property="no" column="CATEGORY_NO"/>
	</resultMap>
		
	<insert id="skillsInsert" parameterType="com.itsme.letitgo.admin.resume.model.dto.SkillsDTO">
		INSERT
		  INTO TBL_SKILLS A
		(
		  A.SKILLS_NO
		, A.CATEGORY_NO  
		, A.SKILLS_NAME
		)  
		VALUES
		(
		   SEQ_SKILLS_NO.NEXTVAL
		 , #{ no }  
		 , #{ name }  
		)
	</insert>
	
	<select id="selectAllSkillsList" resultMap="skillsResultMap">
		SELECT
		       A.SKILLS_NO
		     , A.CATEGORY_NO
		     , A.SKILLS_NAME
		  FROM TBL_SKILLS A     
	</select>
	
	<!-- <delete id="skillsDelete" parameterType="int" resultType="_int">
		DELETE
		  FROM TBL_SKILLS A
		 WHERE A.SKILLS_NO = #{ skillsNo }   
	</delete>
	 -->
</mapper>







