<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itsme.letitgo.personal.scout.model.mapper.PersonalScoutMapper">

	<resultMap type="com.itsme.letitgo.personal.scout.model.dto.ResumeDTO" id="resumeResultMap">
		<id property="resumeNo" column="RESUME_NO"/>
		<result property="resumeTitle" column="RESUME_TITLE"/>
		<result property="inMemNo" column="IN_MEM_NO"/>
		<result property="resumeWriteDate" column="RESUME_WRITE_DATE"/>
		<result property="resumeScoutStatus" column="RESUMW_SCOUT_STATUS"/>
		<result property="jobNo" column="JOB_NO"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.personal.scout.model.dto.ReadingResumeListOfPersonalDTO" id="readKindsListResultMap">
		<result property="coComName" column="CO_COM_NAME"/>
		<result property="address" column="CO_ADDRESS"/>
		<result property="coStatus" column="CO_STATUS"/>
		<result property="resumeBrowseKinds" column="RESUME_BROWSE_KINDS"/>
		<result property="scoutKinds" column="SCOUT_KINDS"/>
		<result property="coMemNo" column="CO_MEM_NO"/>
		<result property="resumeNo" column="RESUME_NO"/>
	</resultMap>
	
	<update id="updateScoutStatus" parameterType="_int">
		UPDATE /* com.itsme.letitgo.personal.scout.model.mapper.PersonalScoutMapper#updateScoutStatus() #*/
		       TBL_RESUME A
		   SET A.RESUME_SCOUT_STATUS = 'Y'
		 WHERE A.RESUME_NO = #{ resumeNo }
		   AND A.IN_MEM_NO = #{ memNo }
	</update>
	
	<select id="selectResume" resultMap="resumeResultMap">
		SELECT
		       A.RESUME_NO
		     , A.RESUME_TITLE
		     , A.RESUME_WRITE_DATE
		  FROM TBL_RESUME A
		 WHERE A.IN_MEM_NO = #{ memberNo }
		   AND A.RESUME_SCOUT_STATUS = 'N'
	</select>
	
	<select id="selectSimpleCount" resultType="_int">
		SELECT
			   COUNT(1) 
		  FROM TBL_RESUME_READING_HISTORY
		 WHERE RESUME_BROWSE_KINDS ='얕은열람'
		   AND RESUME_NO = #{ resumeNo }
	</select>
	
<!-- 	열람 이력 리스트 데이터 테이블 -->
	<select id="selectReadingResumeListOfPersonal" resultMap="readKindsListResultMap">
		SELECT
			   C.CO_COM_NAME
			 , SUBSTR(C.CO_ADDRESS,1,3)
		     , R.RESUME_BROWSE_KINDS
			 , C.CO_STATUS
			 , R.CO_MEM_NO
			 , I.SCOUT_KINDS
			 , RS.RESUME_NO
	   	  FROM TBL_RESUME_READING_HISTORY R
		  JOIN TBL_CO_MEMBER_ADD_INFO C ON (R.CO_MEM_NO = C.CO_MEM_NO)
		  JOIN TBL_MEMBER M ON (C.CO_MEM_NO = M.MEM_NO)
          JOIN TBL_RESUME RS ON (RS.RESUME_NO = R.RESUME_NO)
		  JOIN TBL_INTERVIEW_PROPOSAL I ON (I.CO_MEM_NO = M.MEM_NO)
	     WHERE RS.RESUME_SCOUT_STATUS = 'Y'
	</select>
	
	<update id="updateAcceptScoutKinds">
		UPDATE
		       TBL_INTERVIEW_PROPOSAL
		   SET SCOUT_KINDS = '수락'
		 WHERE RESUME_NO = #{ resumeNo }
		   AND CO_MEM_NO = #{ coMemNo }
	</update>
	
	
	<select id="selectAllCountSimpeOpen" resultType="_int">
		SELECT
               COUNT(1)
          FROM TBL_RESUME R
          JOIN TBL_RESUME_READING_HISTORY RD ON (R.RESUME_NO = RD.RESUME_NO)
         WHERE RESUME_SCOUT_STATUS = 'Y'
           AND RESUME_BROWSE_KINDS = '얕은열람'
           AND IN_MEM_NO = #{ memNo }
	</select>
	<select id="selectAllCountDeepOpen" resultType="_int">
		SELECT
               COUNT(1)
          FROM TBL_RESUME R
          JOIN TBL_RESUME_READING_HISTORY RD ON (R.RESUME_NO = RD.RESUME_NO)
         WHERE RESUME_SCOUT_STATUS = 'Y'
           AND RESUME_BROWSE_KINDS = '깊은열람'
           AND IN_MEM_NO = #{ memNo }
	</select>
	<select id="selectAllScountNum" resultType="_int">
		SELECT
               COUNT(1)
          FROM TBL_RESUME R
          JOIN TBL_RESUME_READING_HISTORY RD ON (R.RESUME_NO = RD.RESUME_NO)
         WHERE RESUME_SCOUT_STATUS = 'Y'
           AND RESUME_BROWSE_KINDS = '면접제안'
           AND IN_MEM_NO = #{ memNo }
	</select>
	
	
	
	

</mapper>