<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itsme.letitgo.admin.board.notice.model.mapper.PersonalInfoPolicyMapper">
	
	<!-- insert resultMap -->
	<!-- <resultMap type="com.itsme.letitgo.admin.board.notice.model.dto.PersonalInfoPolicyDTO" id="personalInfoPolicyInsertResultMap">
		<id property="postNo" column="POST_NO"/>
		<result property="postTitle" column="POST_TITLE"/>
		<result property="postContent" column="POST_CONTENT"/>
		<result property="postRegistrationDate" column="POST_REGISTRATION_DATE"/>
		<result property="postKinds" column="POST_KINDS"/>
		<result property="postModifiedDate" column="POST_MODIFIED_DATE"/>
		<result property="postExposureStatus" column="POST_EXPOSURE_STATUS"/>
		<result property="manageMemberNo" column="MANAGER_MEMBER_NO"/>
	</resultMap> -->
	
	<!-- 수정날짜빼고는 다 입력해야됨 -->
	<insert id="personalInfoPolicyInsert" parameterType="com.itsme.letitgo.admin.board.notice.model.dto.PersonalInfoPolicyDTO">
       INSERT
         INTO TBL_POST A
       (
         A.POST_NO
       , A.POST_TITLE
       , A.POST_CONTENT
       , A.POST_REGISTRATION_DATE
       , A.POST_KINDS
       , A.POST_MODIFIED_DATE
       , A.POST_EXPOSURE_STATUS
       , A.MANAGER_MEMBER_NO  
       )
       VALUES
       (
         SEQ_POST_NO.NEXTVAL
       , #{ postTitle } 
       , #{ postContent } 
       , #{ postRegistrationDate } 
       , #{ postKinds } 
       , #{ postModifiedDate } 
       , #{ postExposureStatus }  
       , #{ managerMemberNo }  
       )
	</insert>
	
	
</mapper>










