<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.company.info.model.mapper.CompanyInfoMapper">

	<resultMap type="com.itsme.letitgo.company.info.model.dto.CompanyAddInfoDTO" id="comAddInfoResultMap">
		<id property="coMemNo" column="CO_MEM_NO"/>
		<result property="coIntro" column="CO_INTRO"/>
		<result property="coNo" column="CO_NO"/>
		<result property="coComName" column="CO_COM_NAME"/>
		<result property="coCeoName" column="CO_CEO_NAME"/>
		<result property="coAddress" column="CO_ADDRESS"/>
		<result property="coPhone" column="CO_PHONE"/>
		<result property="coPax" column="CO_PAX"/>
		<result property="coSectors" column="CO_SECTORS"/>
		<result property="coStatus" column="CO_STATUS"/>
		<result property="webSite" column="CO_WEBSITE"/>
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.info.model.dto.CompanyInfoDTO" id="coMemResultMap">
		<result property="memNO" column="MEM_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="memPwd" column="MEM_PWD"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="memEmail" column="MEM_EMAIL"/>
		<result property="memPhone" column="MEM_PHONE"/>
		<result property="memKinds" column="MEM_KINDS"/>
		<result property="enrollDate" column="MEM_ENROLL_DATE"/>
		<result property="entYn" column="MEM_ENT_YN"/>
		<result property="entDate" column="MEM_ENT_DATE"/>
		<result property="memEntNo" column="MEM_ENT_NO"/>
	
	</resultMap>
	
	<!-- 동기 기업 조회시 하단의 채용공고 조회를 위한 resultMap -->
	<resultMap type="com.itsme.letitgo.company.recruit.jobposting.model.dto.SelectCoMyJobPostingDTO" id="resultMyJobPosting">	
		<id property="jobPostNo" column="JOB_POST_NO"/>
		<result property="jobPostTitle" column="JOB_POST_TITLE" javaType="string"/>
		<result property="jobPostMinExperience" column="JOB_POST_MIN_EXPERIENCE"/>
		<result property="jobPostMaxExperience" column="JOB_POST_MAX_EXPERIENCE"/>
		<result property="jobPostEnrollDate" column="JOB_POST_ENROLL_DATE"/>
		<result property="jobPostDeadline" column="JOB_POST_DEADLINE"/>
		<result property="jobPostKinds" column="JOB_POST_KINDS"/>
		<result property="exposureUseCheck" column="EXPOSURE_USE_CHECK"/>
	</resultMap>
	<select id="selectedInfoCompany" resultMap="comAddInfoResultMap">
		SELECT
			  CM.CO_MEM_NO
			, CM.CO_NO
		    , CM.CO_COM_NAME
		    , CM.CO_CEO_NAME
		    , CM.CO_SECTORS
		    , CM.CO_STATUS
		    , CM.CO_INTRO
		    , REGEXP_SUBSTR(CM.CO_ADDRESS, '[^$]+',1,2) as CO_ADDRESS
		    , CM.CO_WEBSITE
		FROM TBL_CO_MEMBER_ADD_INFO CM
		WHERE CM.CO_MEM_NO = 2
	
	</select>
	
	<!-- 동기 기업회원 추가정보 조회 select -->
	<select id="companyAddInfo" parameterType="com.itsme.letitgo.company.info.model.dto.CompanyAddInfoDTO" resultMap="comAddInfoResultMap">
		SELECT
		       AI.CO_MEM_NO
		     , AI.CO_INTRO
		     , AI.CO_COM_NAME
		     , AI.CO_CEO_NAME
		     , AI.CO_ADDRESS
		     , AI.CO_PHONE
		     , AI.CO_PAX
		     , AI.CO_SECTORS
		     , AI.CO_STATUS
		     , AI.CO_WEBSITE
		  FROM TBL_CO_MEMBER_ADD_INFO AI
		 WHERE AI.CO_MEM_NO = #{ coMemNo }
	</select>
	<!--  기업정보 조회시 하단 기업의 jobPosting으로 이동하기 위해서 -->
	<select id="myJobPosting" parameterType="com.itsme.letitgo.personal.recruit.jobposting.model.dto.SelectJobPostingDTO" resultMap="resultMyJobPosting">
			SELECT
	    	   JP.JOB_POST_NO
	    	 , JP.JOB_POST_TITLE
	    	 , JP.JOB_POST_MIN_EXPERIENCE
	    	 , JP.JOB_POST_MAX_EXPERIENCE
	    	 , JP.JOB_POST_ENROLL_DATE
	    	 , JP.JOB_POST_DEADLINE
	    	 , JP.JOB_POST_KINDS
	    	 , JP.EXPOSURE_USE_CHECK
	      FROM TBL_JOB_POSTING JP
	     WHERE JP.CO_MEM_NO = #{ coMemNo }
	       AND JP.JOB_POST_KINDS = '승인된공고'
	</select>
	
<!-- 	기업회원마이페이지 회원조회 -->
	<select id="coMemInfoSelect" resultMap="coMemResultMap">
		SELECT
    		MEM_ID
   		  , MEM_NAME
    	  , MEM_EMAIL
          , MEM_PHONE
       FROM TBL_MEMBER
      WHERE MEM_NO= 2
	</select>
	<update id="modifyCoMemInfo">
		UPDATE TBL_MEMBER A
		   SET
			   A.MEM_NAME = #{ memName }
		     , A.MEM_EMAIL = #{ memEmail }
			 , A.MEM_PHONE = #{ memPhone }
		WHERE A.MEM_ID = #{ memId }	  	
			 
	</update>
	
	
	
	
</mapper>