<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsme.letitgo.company.info.model.mapper.CompanyTestMapper">
	<resultMap type="com.itsme.letitgo.company.info.model.dto.CompanyAddInfoDTO" id="comAddInfoMap">
		<id property="coMemNo" column="COM_MEM_NO"/>
		<result property="coIntro" column="CO_INTRO"/>
		<result property="coNo" column="CO_NO"/>
		<result property="coComName" column="CO_COM_NAME"/>
		<result property="coCeoName" column="CO_CEO_NAME"/>
		<result property="coAddress" column="CO_ADDRESS"/>
		<result property="coPhone" column="CO_PHONE"/>
		<result property="coPax" column="CO_PAX"/>
		<result property="coSectors" column="CO_SECTORS"/>
		<result property="coStatus" column="CO_STATUS"/>
		<result property="webSite" column="CO_WEBSITE"/>
		
	</resultMap>
	
	<resultMap type="com.itsme.letitgo.company.info.model.dto.CompanyTestDTO" id="coMemresultMap">
		<id property="memNO" column="MEM_NO"/>
		<result property="memId" column="MEM_ID"/>
		<result property="memPwd" column="MEM_PWD"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="memEmail" column="MEM_EMAIL"/>
		<result property="memPhone" column="MEM_PHONE"/>
		<result property="memKinds" column="MEM_KINDS"/>
		<result property="enrollDate" column="MEM_ENROLL_DATE"/>
		<result property="entYn" column="MEM_ENT_YN"/>
		<result property="entDate" column="MEM_ENT_DATE"/>
		<result property="memEntNo" column="MEM_ENT_NO"/>
	
	</resultMap>
	
	<select id="selectedInfoCompany" resultMap="comAddInfoMap">
		SELECT
			  CM.CO_MEM_NO
			, CM.CO_NO
		    , CM.CO_COM_NAME
		    , CM.CO_CEO_NAME
		    , CM.CO_SECTORS
		    , CM.CO_STATUS
		    , CM.CO_INTRO
		    , CM.CO_ADDRESS
		    , CM.CO_WEBSITE
		FROM TBL_CO_MEMBER_ADD_INFO CM
		WHERE CM.CO_MEM_NO = 2
		
	
	</select>
</mapper>